@model Comprobación.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Dtalles de productos</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockProducto)
        </dd>
        <dd>
            @if (!string.IsNullOrEmpty(Model.FotoProducto))
            {
                <img src="@Model.FotoProducto" style="max-width:300px; max-height:300px" />
            }
            else
            {
                <p>No hay imagen disponible</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProdcuto" class="btn btn-outline-warning">
        <i class="bi bi-pencil-square"></i> Editar
    </a> |
        
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left-circle"></i> Volver a la lista
    </a>
</div>
