@model IEnumerable<Comprobación.Models.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1><i class="bi bi-bag-fill"></i> Ventas</h1>

<button type="button" class="btn btn-outline-success"><a asp-action="Create"><i class="bi bi-bag-plus-fill"></i> Agregar venta</a></button>
@if (ViewData["TotalVenta"] != null)
{
    <div class="alert alert-success">
        Total de la compra: @string.Format("{0:C}", ViewData["TotalVenta"])
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.ApellidoCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.ApellidoEmpleado)
            </td>
            <td>
                    <button type="button" class="btn btn-outline-warning"><a asp-action="Edit" asp-route-id="@item.IdVenta"><i class="bi bi-pencil-square"></i>Editar</a></button>
                    <button type="button" class="btn btn-outline-info"><a asp-controller="DetallesVentas" asp-action="Index" asp-route-id="@item.IdVenta"><i class="bi bi-person-square"></i>Infromación</a></button>
                    <button type="button" class="btn btn-outline-danger"><a asp-action="Delete" asp-route-id="@item.IdVenta"><i class="bi bi-person-x"></i>Eliminar</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
