@model Comprobación.Models.DetallesVentasViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Detalles de las ventas</h1>

@if (Model.VentaSeleccionada != null)
{
    <div class="alert alert-info">
        <h4>Información de la venta seleccionada</h4>
        <p><strong>Fecha:</strong> @Model.VentaSeleccionada.FechaVenta</p>
        <p><strong>Total:</strong> @Model.VentaSeleccionada.TotalVenta</p>
        <p><strong>Cliente:</strong> @Model.VentaSeleccionada.Cliente.ApellidoCliente</p>
        <p><strong>Empleado:</strong> @Model.VentaSeleccionada.Empleado.ApellidoEmpleado</p>
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-lg btn-outline-success">
        <i class="bi bi-plus-circle"></i> Crear nueva venta
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DetallesVentas.First().Cantidad)</th>
            <th>@Html.DisplayNameFor(model => model.DetallesVentas.First().PrecioUnitario)</th>
            <th>@Html.DisplayNameFor(model => model.DetallesVentas.First().Subtotal)</th>
            <th>@Html.DisplayNameFor(model => model.DetallesVentas.First().Venta)</th>
            <th>@Html.DisplayNameFor(model => model.DetallesVentas.First().Producto)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DetallesVentas)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.PrecioUnitario)</td>
                <td>@Html.DisplayFor(modelItem => item.Subtotal)</td>
                <td>@Html.DisplayFor(modelItem => item.Venta.IdVenta)</td>
                <td>@Html.DisplayFor(modelItem => item.Producto.CodigoProducto)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DetalleVentaId" class="btn btn-outline-warning btn-sm">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.DetalleVentaId" class="btn btn-outline-info btn-sm">
                        <i class="bi bi-eye"></i> Detalles
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.DetalleVentaId" class="btn btn-outline-danger btn-sm">
                        <i class="bi bi-trash"></i> Eliminar
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>