@model IEnumerable<Comprobación.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1><i class="bi bi-person-circle"></i> Clientes</h1>

<!-- Barra de búsqueda -->
<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="filtro" placeholder="Buscar por NIT o Nombre" value="@ViewData["filtro"]">
        <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i> Buscar</button>
    </div>
</form>

<button type="button" class="btn btn-outline-success">
    <a asp-action="Create"><i class="bi bi-person-fill-add"></i> Agregar Cliente</a>
</button>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NitCliente)</th>
            <th>@Html.DisplayNameFor(model => model.NombreCliente)</th>
            <th>@Html.DisplayNameFor(model => model.ApellidoCliente)</th>
            <th>@Html.DisplayNameFor(model => model.DireccionCliente)</th>
            <th>@Html.DisplayNameFor(model => model.TelefonoCliente)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.NitCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.ApellidoCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.DireccionCliente)</td>
                <td>@Html.DisplayFor(modelItem => item.TelefonoCliente)</td>
                <td>
                    <button type="button" class="btn btn-outline-warning">
                        <a asp-action="Edit" asp-route-id="@item.IdCliente">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                    </button>
                    <button type="button" class="btn btn-outline-info">
                        <a asp-action="Details" asp-route-id="@item.IdCliente">
                            <i class="bi bi-person-square"></i> Información
                        </a>
                    </button>
                    <button type="button" class="btn btn-outline-danger">
                        <a asp-action="Delete" asp-route-id="@item.IdCliente">
                            <i class="bi bi-person-x"></i> Eliminar
                        </a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
